body {
  background-color: #f2f2f2;
  color: #222222;
  font-family: 'Verdana', sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Molgan Regular";
  src: url("../fonts/MolganRegular.otf");
}

.alt-text {
  font-family: "Molgan Regular", sans-serif;
}

h1 {
  color: #2b3438;
  font-size: 3.5rem;
  line-height: 1.2;
  margin-block: 2rem;
}

h1#important1 {
  color: #f708d3;
  font-size: 400%;
}

h2 {
  color: #001f3f;
  font-size: 2.5rem;
  margin-block: 1.5rem;
}

p {
  color: #323233;
  line-height: 1.3;
}

p#important2  {
  text-transform: uppercase;
}

p#important2:hover {
  color: #f708d3;
}

.mynav {
  align-items: center;
  background-color: #323233;
  display: flex;
  height: 100px;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.mynav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 540px) {
  .mynav {
    height: 150px;
    justify-content: flex-start;
  }

  .mynav ul {
    flex-direction: column;
  }
}

.mynav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1rem;
}

.mynav a:hover {
  color: #f708d3;
}

.page-content {
  margin-top: 100px;
  padding: 30px;
}

.link-container a {
  color: #0331df;
}

.link-container a:hover {
  color: #0123a2;
}

#about-section {
  border: 40px solid transparent;
  padding: 20px;
  border-image: url("../images/pompom.webp") 60 round;
  background-color: #ffffff;
}

ul > li {
  color: #001f3f;
  font-size: 1em;
}

.bg-one {
  background-image: url('../images/cheer-bg2.png');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.bg-two {
  background-image: url('../images/cheer-bg.png');
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  background-color: #ffffff;
}

.cheer-survey-form {
  background-color: #ffffff;
  border-radius: 10px;
  width: 440px;
}

.form-group {
  padding: 16px 0;
}

input[type='text'],
textarea {
  width: 400px;
  padding: 8px 12px;
  border: 1px solid #323233;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Verdana', sans-serif;

  &:focus {
    outline: #f708d3;
    border: 1px solid #f708d3;
  }
}

select {
  width: 400px;
  padding: 8px 12px;
  border: 1px solid #323233;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Verdana', sans-serif;

  &:focus {
    outline: #f708d3;
    border: 1px solid #f708d3;
  }
}

button {
  background-color: #323233;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-family: 'Verdana', sans-serif;
  cursor: pointer;
  margin-top: 16px;
}

button:hover {
  opacity: 0.8;
}

h4 {
  margin: 0;
}

fieldset {
  padding: 16px;
}

.bold-label {
  font-weight: bold;
}

.two-column {
  width: 100%;
  display: flex;
}

.column {
  width: 50%;
}

@media (max-width: 800px) {
  .two-column {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}

.right-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-column img {
  width: 60%;
  height: auto;
}

.home-image {
  display: flex;
  justify-content: center;
}

.home-image img {
  height: 600px;
  width: auto;
}
